{% extends 'base.html' %}
<!doctype html>
{% load static %}

<head>
<!-- Page Title -->
    {% block title-block %}
    <title>Blogs - {{ blog.title }}</title>
    {% endblock %}
{% block content %}
</head>

<body>

<br>

<!-- Blog Title -->
<div class = "container text-center" style="margin: 0 auto; max-width: 90%; min-width: 200px;">
<h1 class="hmain">{{ blog.title }}</h1>
<h4>

<!-- Date and Author -->
<div class="text-end">
     ~ On {{ blog.date|date:'dS M Y' }}, by <i>{{blog.author}}</i>
</div>
</h4>

<br><br><br><br>

<!-- Content -->
<h4 class="text-start" id="hsub">{{ blog.content|safe }}</h4>
</div>
{% endblock %}
</body>
</docttype>